@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600&display=swap");
@font-face {
  font-family: 'primary';
  src: url("/assets/fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

html {
  scroll-behavior: smooth;
  color: #0c0c0c;
}

.cart--container {
  padding: 0 5%;
  background: #EEEEEE;
}

.cart--container .cart-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart--container .cart-main .cart-items--wrapper {
  margin-top: 8rem;
  width: 70%;
}

.cart--container .cart-main .cart-items--wrapper .cart--header {
  background: #fff;
  width: 100%;
  border-radius: 10px;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 2rem 2rem 3rem;
}

.cart--container .cart-main .cart-items--wrapper .cart--header .cart--heading {
  font-weight: 500;
  color: #000000;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-image {
  width: 8rem;
  height: 10rem;
  border-radius: 10px;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents {
  width: 100%;
  padding: 1rem;
  padding-top: 0.5rem;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .item-name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .item-name h3 {
  font-weight: 600;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .item-name .checkbox-wrapper .checkbox {
  border: 1px solid #000000;
  border-radius: 3px;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .price-item {
  color: #00000080;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .stock {
  color: #005509;
  font-weight: 600;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .quantity-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .quantity-wrapper strong {
  margin-right: 0.3rem;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .quantity-wrapper p {
  width: 2rem;
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .delete-total-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .delete-total-wrapper a {
  color: #EE4A6F;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .delete-total-wrapper small {
  font-weight: 600;
}

.cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .delete-total-wrapper span {
  color: #DB3592;
  font-size: 1rem;
}

.cart--container .cart-main .total-price-container {
  background-color: #fff;
  margin: 1rem 0 2rem 1rem;
  width: 35%;
  height: 37rem;
  border-radius: 10px;
  margin-top: 8rem;
}

.cart--container .cart-main .total-price-container .total-price-main {
  padding: 1rem 0 1rem 1.5rem;
}

.cart--container .cart-main .total-price-container .total-price-main h3 {
  font-weight: 700;
  color: #000000;
  padding-bottom: 1rem;
  border-bottom: 0.1px solid #00000033;
  width: 90%;
  margin-bottom: 1rem;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .border {
  border: 1px solid #00000033;
  margin-bottom: 2rem;
  width: 90%;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 2.2rem;
  margin: 2rem 0 2rem 0;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-value {
  color: #009217;
  font-weight: 600;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-key {
  color: #000000B2;
  font-weight: 600;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-reminder {
  color: #FF5D50;
  font-weight: 400;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-total-key {
  font-weight: 600;
  font-size: 1.1rem;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-total-value {
  font-weight: 600;
  color: #009217;
  font-size: 1.1rem;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .coupon {
  font-weight: 600;
  color: #000000B2;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content small {
  font-weight: 400;
  color: #000000;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .coupon-code-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #00000080;
  height: 2rem;
  margin: 0.5rem 0 0 0;
  width: 90%;
  border-radius: 5px;
  margin-top: 1rem;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .coupon-code-container .coupon-code {
  padding-left: 1rem;
  border: none;
  outline: none;
  width: 90%;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .coupon-code-container .material-icons-outlined {
  background: #FF5D50;
  color: #fff;
  height: 1.9rem;
  border-radius: 5px;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .coupon-code-container ::-webkit-input-placeholder {
  color: #00000066;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .coupon-code-container :-ms-input-placeholder {
  color: #00000066;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .coupon-code-container ::-ms-input-placeholder {
  color: #00000066;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .coupon-code-container ::placeholder {
  color: #00000066;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 2rem 1rem 0;
}

.cart--container .cart-main .total-price-container .total-price-main .total-price-content .button button {
  background: #FF5D50;
  color: #fff;
  border-radius: 3px;
  border: none;
  height: 2rem;
  width: 8rem;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .cart--container .cart-main .cart-items--wrapper {
    width: 60%;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-image {
    width: 7rem;
    height: 9.2rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .item-name h3 {
    font-size: 1rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .price-item {
    font-size: 0.9rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .stock {
    font-size: 0.9rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .quantity-wrapper strong {
    font-size: 0.9rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .quantity-wrapper p {
    font-size: 0.9rem;
    width: 1.5rem;
    height: 1.3rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .delete-total-wrapper a {
    font-size: 0.9rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main h3 {
    font-size: 1.1rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-key {
    font-size: 0.9rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-value {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 850px) {
  .cart--container .cart-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart--container .cart-main .cart-items--wrapper {
    width: 100%;
  }
  .cart--container .cart-main .total-price-container {
    margin-top: 0;
    width: 60%;
  }
  .cart--container .cart-main .total-price-container .total-price-main {
    padding: 1rem 0 1rem 1rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-key {
    font-size: 0.8rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-value {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 800px) {
  .cart--container .cart-main .total-price-container {
    width: 20rem;
    height: 35rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main h3 {
    font-size: 1.3rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs {
    margin: 2rem 0 1rem 0;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-key {
    font-size: 1rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-value {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content {
    padding-bottom: 0.2rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents {
    padding-top: 0.3rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .item-name {
    margin-bottom: 0.3rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .price-item {
    margin-bottom: 0.1rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .stock {
    margin-bottom: 0.1rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .quantity-wrapper {
    margin-top: 0.3em;
    margin-bottom: 0.1rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .delete-total-wrapper span {
    font-size: 0.9rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-image {
    width: 6rem;
    height: 7rem;
  }
  .cart--container .cart-main .total-price-container {
    margin: 0;
    width: 90%;
    height: 30rem;
    margin-bottom: 2rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs {
    margin: 1rem 0 1rem 0;
  }
}

@media only screen and (max-width: 400px) {
  .cart--container {
    padding: 0 2%;
  }
  .cart--container .cart-main .cart-items--wrapper {
    margin-top: 5rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .item-name h3 {
    font-size: 0.9rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .price-item {
    font-size: 0.8rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .stock {
    font-size: 0.8rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .quantity-wrapper strong {
    font-size: 0.8rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .quantity-wrapper p {
    width: 1rem;
    height: 1rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .delete-total-wrapper a {
    font-size: 0.8rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .delete-total-wrapper small {
    font-size: 0.7rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents .delete-total-wrapper span {
    font-size: 0.75rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart--header {
    padding: 1rem 2rem 2.3rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart--header .cart--heading {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 340px) {
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-image {
    width: 5rem;
    height: 7rem;
  }
  .cart--container .cart-main .cart-items--wrapper .cart-item-wrapper .cart-content .item-contents {
    padding: 0.6rem;
  }
  .cart--container .cart-main .total-price-container {
    height: 28rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main h3 {
    font-size: 1rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-key {
    font-size: 0.8rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-value {
    font-size: 0.8rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-reminder {
    font-size: 0.8rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-total-key {
    font-size: 1rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .total-inputs .total-inputs-total-value {
    font-size: 1rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content .coupon {
    font-size: 0.8rem;
  }
  .cart--container .cart-main .total-price-container .total-price-main .total-price-content small {
    font-size: 0.6rem;
  }
}
/*# sourceMappingURL=add-to-cart.css.map */